<div class="audio audio--{{ backgroundColor }}-background audio--{{ borderColor }}-border audio--{{ contentColor }}-content {% if isColorWhite %}audio--white-text{% endif %}">
    <div class="audio__container">
        <audio controls class='audio__embed'>
            <source src="{{ audioFile }}" type="audio/mpeg">
        </audio>
        <div class="audio__wrapper">
            <div class="audio__controls">
                <button class="audio__button">
                    <span class="audio__play audio__button--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                            <path class="audio__button--stroke" d="M1.25 0.870855L13.8565 7L1.25 13.1291V0.870855Z" stroke="white"/>
                        </svg>
                    </span>
                    <span class="audio__pause audio__button--icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                            <line class="audio__button--stroke" x1="0.5" x2="0.5" y2="15" stroke="white"/>
                            <line class="audio__button--stroke" x1="8.5" x2="8.5" y2="15" stroke="white"/>
                        </svg>
                    </span>
                </button>
                <div class="audio__center">
                    <div class="audio__title">{{ audioTitle }}</div>
                    <input type="range" class="audio__timeline" max="100" value="0">
                </div>
            </div>

            {% if audioSummary %}
                <div class="audio__summary">{{ audioSummary }}</div>
            {% endif %}
        </div>
    </div>
</div>