{% set hideLogin = true %}
{% set contacts = {} %}

{% if activeBase == 'depo' %}
    {% set contacts = {
        phone: {
            link: 'tel:+79120557755',
            title: '+7 (912) 055-77-55'
        },
        socials: [
            {
                link: 'https://t.me/+79120557755',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Telegram'
            },
            {
                link: 'https://wa.me/79120557755',
                type: 'whatsapp',
                icon: 'whatsappIcon',
                title: 'WhatsApp'
            },
            {
                link: 'https://vk.me/depoizh',
                type: 'vk',
                icon: 'vkIcon',
                title: 'Vk'
            }
        ],
        bot: 'https://t.me/Arendaizh_bot'
    } %}
{% elif activeBase == 'gagarinsky' %}
    {% set contacts = {
        phone: {
            link: 'tel:+79120203331',
            title: '+7 (912) 020-33-31'
        },
        socials: [
            {
                link: 'https://t.me/+79120203331',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Telegram'
            },
            {
                link: 'https://wa.me/79120203331',
                type: 'whatsapp',
                icon: 'whatsappIcon',
                title: 'WhatsApp'
            }
        ],
        bot: 'https://t.me/Arendaizh_bot'
    } %}
{% elif activeBase == 'yujnaya' %}
    {% set contacts = {
        phone: {
            link: 'tel:+79511974777',
            title: '+7 (951) 197-47-77'
        },
        socials: [
            {
                link: 'https://t.me/+79511974777',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Telegram'
            },
            {
                link: 'https://wa.me/79511974777',
                type: 'whatsapp',
                icon: 'whatsappIcon',
                title: 'WhatsApp'
            }
        ],
        bot: 'https://t.me/Arendaizh_bot'
    } %}
{% endif %}

{% extends "layouts/body.njk" %}

{% block bodyContent %}

    <header class="page__header">
        {% include "includes/header.njk" %}
    </header>

    <main class="page__main">
        {% block mainContent %}{% endblock %}
    </main>

{% endblock %}