{% set navs = [] %}
{% set contacts = {} %}
{% set companyInfo = {} %}

{% if activeBase == 'depo' %}

    {% set navs = [
        {
            link: '/search',
            title: 'Помещения'
        },
        {
            link: '/about',
            title: 'О компании'
        },
        {
            link: 'https://tsc.depoarenda.ru/',
            title: 'Торговый центр'
        },
        {
            link: '/lightindustrial',
            title: 'Light Industrial'
        },
        {
            link: '#partner-locations',
            title: 'Объекты партнеров'
        }
    ] %}

    {% set contacts = {
        phone: {
            link: 'tel:+79120557755',
            title: '+7 (912) 055-77-55'
        },
        socials: [
            {
                link: 'https://t.me/+79120557755',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Telegram'
            }, {
                link: 'https://wa.me/79120557755',
                type: 'whatsapp',
                icon: 'whatsappIcon',
                title: 'WhatsApp'
            }, {
                link: 'https://vk.me/depoizh',
                type: 'vk',
                icon: 'vkIcon',
                title: 'Vk'
            }
        ],
        channels: [
            {
                link: 'https://t.me/depo_arenda',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Наш канал'
            }, {
                link: 'https://vk.com/depoizh',
                type: 'vk',
                icon: 'vkIcon',
                title: 'Vk'
            }
        ],
        email: {
            link: 'mailto:info@depoarenda.ru',
            title: 'info@depoarenda.ru'
        }
    } %}

    {% set companyInfo = {
        name: 'АО «ДЕПО»',
        workHours: 'ПН-ПТ: 09:00 - 18:00',
        address: 'Ижевск, Буммашевская, 5б'
    } %}

    {% set privacyLink = '/assets/docs/depot/Политика_обработки_персональных_данных_Депо.pdf' %}
    {% set cookieLink = '/assets/docs/depot/Политика_cookies_Депо.pdf' %}
    {% set formLink = '/assets/docs/depot/Форма_согласия_на_обработку_персональных_данных_Депо.pdf' %}

{% elif activeBase == 'gagarinsky' %}

    {% set navs = [
        {
            link: '/search',
            title: 'Помещения'
        },
        {
            link: '/about',
            title: 'О компании'
        },
        {
            link: '/lightindustrial',
            title: 'Light Industrial'
        },
        {
            link: '#partner-locations',
            title: 'Объекты партнеров'
        }
    ] %}

    {% set contacts = {
        phone: {
            link: 'tel:+79120203331',
            title: '+7 (912) 020-33-31'
        },
        socials: [
            {
                link: 'https://t.me/+79120203331',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Telegram'
            }, {
                link: 'https://wa.me/79120203331',
                type: 'whatsapp',
                icon: 'whatsappIcon',
                title: 'WhatsApp'
            }
        ],
        channels: [
            {
                link: 'https://t.me/depo_arenda',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Наш канал'
            }
        ],
        email: {
            link: 'mailto:gagarinskiy1@mail.ru',
            title: 'gagarinskiy1@mail.ru'
        }
    } %}

    {% set companyInfo = {
        name: 'ООО ПКЦ «ГАГАРИНСКИЙ»',
        workHours: 'ПН-ПТ: 09:00 - 18:00',
        address: 'Ижевск, Гагарина, 1'
    } %}

    {% set privacyLink = '/assets/docs/depot/Политика_обработки_персональных_данных_Гагаринский.pdf' %}
    {% set cookieLink = '/assets/docs/depot/Политика_cookies_Гагаринский.pdf' %}
    {% set formLink = '/assets/docs/depot/Форма_согласия_на_обработку_персональных_данных_Гагаринский.pdf' %}

{% elif activeBase == 'yujnaya' %}

    {% set navs = [
        {
            link: '/search',
            title: 'Помещения'
        },
        {
            link: '/about',
            title: 'О компании'
        },
        {
            link: '/lightindustrial',
            title: 'Light Industrial'
        },
        {
            link: '#partner-locations',
            title: 'Объекты партнеров'
        }
    ] %}

    {% set contacts = {
        phone: {
            link: 'tel:+79511974777',
            title: '+7 (951) 197-47-77'
        },
        socials: [
            {
                link: 'https://t.me/+79511974777',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Telegram'
            }, {
                link: 'https://wa.me/79511974777',
                type: 'whatsapp',
                icon: 'whatsappIcon',
                title: 'WhatsApp'
            }
        ],
        channels: [
            {
                link: 'https://t.me/depo_arenda',
                type: 'telegram',
                icon: 'telegramIcon',
                title: 'Наш канал'
            }
        ],
        email: {
            link: 'mailto:bazauzhnaya@mail.ru',
            title: 'bazauzhnaya@mail.ru'
        }
    } %}

    {% set companyInfo = {
        name: 'ООО «База Южная»',
        workHours: 'ПН-ПТ: 09:00 - 18:00',
        address: 'Ижевск, Маяковского, 43'
    } %}

    {% set privacyLink = '/assets/docs/depot/Политика_обработки_персональных_данных_БЮ.pdf' %}
    {% set cookieLink = '/assets/docs/depot/Политика_cookies_БЮ.pdf' %}
    {% set formLink = '/assets/docs/depot/Форма_согласия_на_обработку_персональных_данных_БЮ.pdf' %}

{% endif %}

{% extends "layouts/body.njk" %}

{% block bodyContent %}

    <header class="page__header">
        {% include "includes/header.njk" %}
    </header>

    <main class="page__main">
        {% block mainContent %}{% endblock %}
    </main>

    <footer class="page__footer page__footer--{{ activeBase }}">
        {% include "includes/footer.njk" %}
    </footer>

{% endblock %}