{% set formIsNarrow = true %}

{% extends "layouts/default.njk" %}

{% block bodyContent %}
    
    <header class="practice__header practice__header--{{ color }}">
        <div class="container__base">
            <div class="practice__header--wrapper">
                <a class="practice__header--link practice__header--link--large practice__header--link--{{ color }}" href="/">Назад к выбору курса</a>
                <a class="practice__header--link practice__header--link practice__header--link--{{ color }}" href="#sendlead">Запись</a>
            </div>
        </div>
    </header>

    <main>
        {% block mainContent %}{% endblock %}
    </main>

    <footer class="practice__footer practice__footer--{{ color }}">
        <div class="container__base">
            <div class="practice__footer--wrapper">
                <div class="practice__footer--left">
                    <h2 class="section__title">Присоединиться к нам</h2>
                    <div class="practice__footer--text">
                        <span>Ежедневные медитации, встреча с наставником онлайн в режиме реального времени, консультации в чате.</span><br><br>
                        <span>До встречи в Telegram!</span>
                    </div>
                </div>
                <div class="practice__footer--right" id="sendlead">
                    {% include "includes/leadForm.njk" %}
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block customJs %}
{% endblock %}