.about {

    &--black {
        color: $black;
    }

    &__section {
        background-color: $white;

        &--black {
            background-color: $black;
        }
    }

    &__container {

        &--left {
            flex-basis: 50%;
            flex-direction: column;
        }

        &--right {
            position: relative;
            flex-basis: 50%;
            flex-direction: column;
        }
    }

    &__title {
        font-weight: bold;

        &--main {
            max-width: 658px;
            font-size: 60px;
            line-height: 110%;
            padding-top: 90px;
            margin-bottom: 15px;
        }

        &--logistics {
            margin-bottom: 80px;
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 183px;

        &--form {
            padding-top: 44px;
            font-weight: 500;
            margin-bottom: 0;
        }

        &--custom {
            max-width: 350px;
            margin-bottom: 0;
        }

        &--styling {
            padding: 40px 75px;
            background-color: $yellow;
            width: 50%;
            margin-bottom: 50px;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        &--number {
            color: $yellow;
            font-size: 128px;
            font-weight: bold;
            line-height: 100%;
        }

        &--text {
            display: inline-block;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &--lg {
            max-width: 362px;
        }

        &--md {
            max-width: 174px;
        }

        &--address {
            max-width: fit-content;
            margin: 0 auto;
            padding-top: 124px;
        }
    }

    &__item {
        max-width: 550px;
        background-color: $black;
        padding: 30px 30px 30px 75px;
        margin: 35px 0;
        transition: transform 0.3s ease;
        
        &:hover {
            transform: translateX(75px);
        }
    }

    &__list {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__icon {
        position: absolute;
        transition: transform 0.3s ease;

        &--docs {
            left: 24%;
            bottom: 89%;

            @media (min-width: 1497px) {
                left: 23%;
                bottom: 95%;
            }
        }

        &--attorney {
            top: 20%;
            left: 3%;

            @media (min-width: 1497px) {
                top: 18%;
                left: 3%;
            }
        }

        &--goods {
            top: 50%;
            right: 97%;
        }

        &--gifts {
            top: 83%;
            right: 95%;
        }

        &:hover {
            transform: scale(1.2) rotate(360deg);
        }
    }

    &__logistics {
        position: absolute;
        top: 75px;
        left: 57%;
        width: 255px;
        height: 342px;

        &--location {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &--call {
            position: absolute;
            top: 82px;
            right: 83px;
            cursor: pointer;
            z-index: 1000;
            animation: pulseRotate 2s infinite;
        }

        .icon {
            width: 88px;
            height: 88px;
        }
    }

    @keyframes pulseRotate {
        0%, 100% {
            transform: scale(1) rotate(0deg);
        }
        50% {
            transform: scale(1.1) rotate(10deg);
        }
        75% {
            transform: scale(1) rotate(-10deg);
        }
    } 

    &__advantages {
        flex-wrap: wrap;
        text-align: center;

        &--title {
            margin-bottom: 100px;
        }

        &--subtitle {
            display: inline-block;
            padding-top: 20px;
            font-weight: 500;
            line-height: 110%;
            margin-bottom: 5px;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }

        &--item {
            padding-top: 40px;
            width: 676px;
            height: 262px;
            background-color: $black;
            transition: background-color 0.3s ease, color 0.3s ease;

            .icon {
                fill: $yellow;
                transition: fill 0.3s ease;
            }

            &:hover {
                background-color: $yellow;
                color: $black;
                
                .about__advantages--subtitle, .about__advantages--text {
                    color: $black;
                }

                .icon {
                    fill: $black;
                }
            }
        }

        &--text {
            display: inline-block;
            max-width: 406px;
            transition: color 0.3s ease;
        }

        &--button {
            display: block;
            width: fit-content;
            margin: 70px auto 0 auto;
        }

        &--loc {
            max-width: 400px;
        }

        &--bus {
            max-width: 408px;
        }

        &--parking {
            max-width: 380px;
        }
    }

    &__manager {

        &--title {
            margin-bottom: 50px;
        }
    }

    &__accordion {
        color: $black;

        &--toggle {
            display: block;
            border: 2px solid $black;
            border-radius: 50%;
            transition: transform 0.3s ease;

            &.active {
                transform: rotate(-180deg);
            }
        }

        &--header {
            padding: 10px 30px;
            border-bottom: 2px solid $black;
        }

        &--title {
            padding-left: 75px;
            font-size: 24px;
        }

        &--subtitle {
            font-size: 24px;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 20px;
            margin-right: 50px;
        }

        &--wrapper {
            transition: max-height .3s;
            max-height: 0;
            overflow: hidden;

            &.active {
                max-height: 270px;
            }
        }

        &--content {
            padding: 30px;
            background-color: $yellow;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-bottom: 10px;
        }
    }
}