.floor-map {
    display: flex;
    align-items: center;

    &__controls {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-right: 100px;
        min-width: 100px;
    }

    &__button {
        margin-top: 25px;
    }
}