.gallery {

    &__container {
        margin: 0 -75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(28, 29, 32, 0.8);
    }
    
    &__frame {

        &--image {
            margin-right: 66px;
            width: 644px;
            height: 362px;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.3s ease;

            &.zoomed {
                transform: scale(1.5) translateX(150px);
            }
        }
    }
    
    &__controls {
        padding: 63px 0;
        min-width: 40px;

        &--button {
            padding: 10px;
            cursor: pointer;
            transition: fill 0.3s ease;

            &:disabled {
                cursor: not-allowed;
            }

            &:disabled > svg {
                fill: $darkGrey;
            }
        }
    }
    
    &__description {
        padding-top: 20px;
        max-width: 580px;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    // media

    @media (min-width: ($containerMaxWidth - 1)) {
        &__container {
            display: block;
            padding: 0 75px;
        }

        &__frame--image {
            width: 1100px;
            height: 650px;
        }
    }

    @media (max-width: ($desktop-breakpoint - 1)) {
        &__container {
            margin: 0 -50px;
        }

        &__description {
            max-width: 241px;
            font-size: 14px;
            font-weight: 400;
            line-height: 110%;
        }
    }
}