.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 230px;

    &__column {
        &--left {
            flex-basis: 75%;
        }
    }

    &__desc {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__feature {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        &--icon {
            margin-right: 25px;
        }

        &--text {
            color: $black;
        }
    }

    // media

    @media (max-width: ($desktop-breakpoint - 1)) {
        padding-bottom: 170px;

        &__column {
            &--right {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-40%);
            }
        }
    }

    @media (max-width: ($laptop-breakpoint - 1)) {
        flex-direction: column;
        padding-bottom: 150px;

        &__column {
            &--left {
                margin-bottom: 60px;
            }

            &--right {
                position: relative;
                transform: none;
            }
        }

        &__features {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -10px;
        }

        &__feature {
            padding: 0 10px;
        }

        &__contactForm {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    @media (max-width: ($tablet-breakpoint - 1)) {
        &__title {
            margin-bottom: 0;
        }

        &__features {
            flex-direction: column;
        }

        &__contactForm {
            width: calc(100% + 100px);
            margin: 0 -50px;

            .form__open {
                width: 100%;
                padding: 25px 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    @media (max-width: ($mobile-breakpoint - 1)) {
        padding-bottom: 130px;

        &__desc {
            font-size: 14px;
            margin-bottom: 30px;
        }

        &__column {
            &--left {
                margin-bottom: 30px;
            }
        }

        &__contactForm {
            width: calc(100% + 40px);
            margin: 0 -20px;
            bottom: -6px;

            .form__open {
                padding: 12px 20px;
            }
        }
    }
}