.showroom {

    &__section {
        background-color: $grey;
    }

    &__title {
        padding-top: 20px;
        line-height: 110%;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 133px;
    }

}