.menu {
    height: 100vh;
    background: $grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__link {
        display: block;
        font-size: 24px;
        padding: 35px 75px;
        border: 2px solid transparent;

        &.active {
            background-color: $white;
            border-right-color: $yellow;
            border-bottom-color: $yellow;
            border-top-color: $yellow;
            font-weight: 700;
        }
    }

    &__bot {
        position: sticky;
        bottom: 50px;
        margin-top: auto;
        
        &--text {
            font-size: 24px;
            font-weight: 700;
            color: $tgBlue;
            margin-top: 10px;
        }
    }

    // media

    @media (max-width: ($desktop-breakpoint - 1)) {
        &__link {
            padding: 35px 60px;
        }
    }
}