.scheme {
    &__row {
        display: flex;
        align-items: center;
    }

    &__column {
        width: 50%;
        flex-basis: 50%;

        &:first-child {
            margin-right: 50px;
        }
    }

    &__popup {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        padding: 0 75px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        color: $black;
        text-transform: uppercase;

        &--large {
            font-size: 44px;
        }
    }

    .icon {
        max-width: 100%;
    }
}