{% set pageTitle = 'Ошибка - Депо' %}
{% set pageDescription = 'Страница не найдена' %}

{% extends "layouts/body.njk" %}

{% block mainContent %}

    <div class="error__wrapper">
        <div class="error__msg">Страница не найдена!</div>
    </div>

{% endblock %}