{% set pageTitle = 'Войти' %}
{% set pageDescription = 'Вход в личный кабинет' %}

{% extends "layouts/backoffice.njk" %}

{% block mainContent %}

    <section class="section" id="login">
        <div class="container">
            <div data-react-component="login"></div>
        </div>
    </section>

{% endblock %}