{% set pageTitle = data.title|e %}

{% extends "layouts/practice.njk" %}

{% block mainContent %}

<section class="section main-info">
    <div class="container__base">
        <div class="practice__info--wrapper">
            <h1 class="section__title">{{ data.title|e }}</h1>

            <div class="practice__info--summary">{{ data.description|e|nl2br }}</div>
        </div>
    </div>
</section>

<section class="section prescriptions">
    <div class="container__base">
        <div class="prescriptions__wrapper">
            <h2 class="section__title">Вам подходит, если</h2>

            <div class="prescriptions__list">
                {% for item in data.prescriptions %}
                    <div class="prescriptions__item prescriptions__item--{{ color }}">
                        <div class="prescriptions__text">{{ item|e }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="section meditation-list">
    <div class="container__base">
        <h2 class="section__title">Попробуйте бесплатно</h2>
    </div>

    {% for item in data.list %}
        <div class="meditation-list__item meditation-list__item--{{ color }}-{{ loop.index0 % 5 + 1 }} {% if loop.first %}meditation-list__item--nopadding{% endif %} {% if loop.last %}meditation-list__item--noimage{% endif %}">
            <div class="container__base">
                <div class="meditation-list__wrapper">
                    <div class="meditation-list__audio {% if loop.index % 2 == 0 %}meditation-list__audio--right{% endif %}">
                        {% set backgroundColor = color if loop.index % 2 == 0 else 'white' %}
                        {% set borderColor = color %}
                        {% set contentColor = 'white' if loop.index % 2 == 0 else color %}
                        {% set isColorWhite = true if loop.index % 2 == 0 else false %}

                        {% set audioTitle = item.title|e %}
                        {% set audioSummary = item.summary|e %}
                        {% set audioFile = item.audio %}

                        {% include "includes/audio.njk" %}
                    </div>
                    <div class="meditation-list__text">{{ item.description|e|nl2br }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}