{% set pageTitle = 'Аренда помещений' %}
{% set pageDescription = 'Карточка помещения в складском комплексе в Ижевске' %}

{% extends "layouts/default.njk" %}

{% block mainContent %}

    <div data-react-component="premises"></div>

{% endblock %}