{% set pageTitle = 'Управление помещениями' %}
{% set pageDescription = 'Редактирование информации о помещениях и установка акционных предложений' %}

{% extends "layouts/backoffice.njk" %}

{% block mainContent %}

    <section class="section section--nopadding" id="premisesEditor">
        <div class="container container--nopadding">
            <div class="page__backoffice">
                <div class="page__backoffice--column page__backoffice--first">
                    <div class="page__backoffice--sticky">
                        {% include "includes/backoffice-menu.njk" %}
                    </div>
                </div>

                <div class="page__backoffice--column page__backoffice--second">
                    <div class="page__backoffice--content">
                        <h1 class="page__backoffice--greeting">Управление помещениями</h1>
                        <div data-react-component="premisesEditor"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}