{% set pageTitle = 'Сброс пароля' %}
{% set pageDescription = 'Сброс пароля от личного кабинета' %}

{% extends "layouts/backoffice.njk" %}

{% block mainContent %}

    <section class="section" id="login">
        <div class="container">
            <div data-react-component="resetPassword"></div>
        </div>
    </section>

{% endblock %}