<section class="section hero">
    <div class="hero__sparkle">
        {% include 'blocks/sparklingBackground.njk' %}
    </div>
    <div class="hero__background">
        <div class='wave -three'></div>
        <div class='wave -four'></div>
        <div class='wave -one'> </div>
        <div class='wave -two'></div>
    </div>
    <div class="container container__medium hero__container">
        <div class="hero__wrapper">
            <div class="hero__top">
                <div class="hero__date">
                    <div class="hero__date--time">
                        3.30 pm
                    </div>
                    <div class="hero__date--text">
                        Good morning!
                    </div>
                </div>
                <div class="hero__button">
                    Start a project
                </div>
                <div class="hero__lang">
                    <div class="hero__lang--item">
                        $
                    </div>
                    <div class="hero__lang--item">
                        EN
                    </div>
                </div>
            </div>
            <div class="hero__bottom">
                <h1 class="hero__title">Marketing &#38;<br><span class="hero__title--big">Development</span><br>services</h1>
                <div class="hero__links">
                    <div class="hero__nav">
                        <div class="hero__nav--line"></div>
                        <div class="hero__nav--line"></div>
                        <div class="hero__nav--line"></div>
                    </div>
                    <div class="hero__arrow">
                        <div class="hero__arrow--line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>