* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    -moz-appearance: none;
    appearance: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: $white;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", sans-serif;
    background-color: $grey;
    color: $white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    min-width: $containerMinWidth;
    overflow-x: hidden;
    overflow-anchor: none;

    &.no-scroll {
        overflow: hidden;
        height: 100%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 44px;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.container {
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding: 0 75px;
    position: relative;

    &--nopadding {
        padding: 0;
    }
}

.section {
    position: relative;
    padding: 80px 0;

    &--nopadding {
        padding: 0;
    }

    &#main-listing, &#partner-locations {
        background-color: $black;
    }

    &#search-block, &#premises-data, &#premises-maps, &#login, &#profile {
        background-color: $white;
    }

    &#search-listing, &#premises-data {
        padding-bottom: 0;

        &::before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 84px;
            background-color: $yellow;
        }
    }

    &#contact-block {
        background-image: url('../../assets/img/pictures/contacts_bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &#contact-form {
        background-image: url('../../assets/img/pictures/warehouse.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &#about-block {
        background-image: url('../../assets/img/pictures/about_bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &#about-logistics {
        position: relative;
        background-image: url('../../assets/img/pictures/logistics_bg.webp');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;

        &::before {
            content: '';
            position: absolute;
            width: 425px;
            height: 524px;
            bottom: 0;
            right: 202px;
            background-image: url('../../assets/img/pictures/deliveryperson.webp');
            background-repeat: no-repeat;
        }
    }

    &#lightindustrial-block {
        background-image: url('../../assets/img/pictures/li_bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    &#lightindustrial-form {
        background-image: url('../../assets/img/pictures/li_form_bg.webp');
        background-repeat: no-repeat;
        background-position: center;
    }

    &__shadow::before, &__shadow-2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $black;
        opacity: 42%;
    }

    &__shadow::before {
        opacity: 42%;
    }

    &__shadow-2::before {
        opacity: 65%;
    }

    // @media (max-width: $desktop-breakpoint) {
    // }

    // @media (max-width: $laptop-breakpoint-2) {
    // }
}

.flex {
    display: flex;

    &--sb {
        justify-content: space-between;
    }

    &--se {
        justify-content: space-evenly;
    }

    &--center {
        align-items: center;
    }

    &--col {
        flex-direction: column;
    }
}

.button {
    background-color: $yellow;
    color: $black;
    display: block;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;

    &--grey {
        background-color: $grey;
    }

    &--large {
        padding: 25px 30px;
        font-size: 20px;
    }

    &--close {
        position: relative;
        padding: 20px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 9px;
            left: 20px;
            width: 1px;
            height: 23px;
            background-color: $black;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &--droplist {
        position: relative;
        padding: 20px;


        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 11px;
            width: 16px;
            height: 16px;
            border-bottom: 2px solid $black;
            border-right: 2px solid $black;
            transform: rotate(45deg);
        }
    }

    &--icon {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: $yellow;
        text-align: center;

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.map__building {
    fill: $grey;
    transition: fill .3s;
    cursor: pointer;

    &.active {
        fill: $yellow;
    }

    &:hover {
        fill: $red;
    }
}